<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kosher API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hooray!</h1>
    <p>This is an API site so there's really nothing to see here. But at least you know it's working.</p>
  </body>
</html>
